<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="FindExistingInstallLocation"
                      Root="HKLM"
                      Key="Software\FE-BUDDY"
                      Name="InstallLocation"
                      Type="raw" />
    </Property>

    <Property Id="CREATE_STARTMENU_SHORTCUT"
          Value="1" />

    <Property Id="CREATE_DESKTOP_SHORTCUT"
              Value="1" />

    <Property Id="SAVED_STARTMENU_SHORTCUT">
      <RegistrySearch Id="FindSavedStartMenuShortcutPreference"
                      Root="HKLM"
                      Key="Software\FE-BUDDY"
                      Name="StartMenuShortcut"
                      Type="raw" />
    </Property>

    <Property Id="SAVED_DESKTOP_SHORTCUT">
      <RegistrySearch Id="FindSavedDesktopShortcutPreference"
                      Root="HKLM"
                      Key="Software\FE-BUDDY"
                      Name="DesktopShortcut"
                      Type="raw" />
    </Property>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Component Id="InstallerStateComponent"
                 Directory="INSTALLFOLDER">

        <RegistryValue Root="HKLM"
                       Key="Software\FE-BUDDY"
                       Name="InstallLocation"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes" />

        <RegistryValue Root="HKLM"
               Key="Software\FE-BUDDY"
               Name="StartMenuShortcut"
               Type="string"
               Value="[SAVED_STARTMENU_SHORTCUT]" />

        <RegistryValue Root="HKLM"
                       Key="Software\FE-BUDDY"
                       Name="DesktopShortcut"
                       Type="string"
                       Value="[SAVED_DESKTOP_SHORTCUT]" />

      </Component>
    </StandardDirectory>

  </Fragment>
</Wix>